@import url("common.css");

body{background:#ddd}
/*.app{background: #eee;}*/

#app-view{margin-top:100px;/*margin:0 50px;border:1px solid #bbb;border-radius: 6px;min-height: 20px;*/}

header.navbar{height:48px;background:#003366;text-shadow:0 -1px 0 rgba(0,0,0,.15);}
.note-bar{color:white;line-height:48px;}
.note-edit-w{display:none;}
.note-bar span{margin-left:10px;}
.category-btn{cursor:pointer;}


.note-new{position:absolute;left:0;top:60px;text-align:left;}
/*.n-container{background:#ccc;padding:10px; }*/
/*.note-item{position:relative;display:inline-block;border:1px solid #ccc;border-radius:4px;overflow:hidden;
	margin-right:20px;background:white;color:#666;}*/
/*.note-item h3,.note-item div{margin:0 10px;}*/
.note-item{margin-bottom:20px;}
.note-itemc{position:relative;background:white;padding:10px;border-radius:6px;}
.note-item h3{white-space: nowrap; width: 100%; overflow: hidden;text-overflow: ellipsis;}
.n-bar{position:absolute;bottom:0;left:0;right:0;height:50px;background:#003366;opacity:0;
	-moz-transition:opacity 0.5s ease-in-out;-webkit-transition:ease-in-out 0.5s;transition:opacity 0.5s ease-in-out;
	line-height:50px;text-align:center;color:white;cursor:pointer;border-bottom-left-radius:6px;border-bottom-right-radius:6px;
}
.note-itemc:hover .n-bar{opacity:0.7;}